/**********CONTAINER ESTÁ NO INDEX *********/

.button_start{
    text-align: center;
    background-color:#37475A91;
    padding: 15px 0;
}

.Footer_container {
    background-color: #232F3E;
}

.col_flex{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}

.cols_1 ul li{
    padding-top: 10px;
    padding-bottom: 2px;

}
 .cols_1 ul {
   list-style-type: none; 
}


.line {
    margin-top: 100px;
}


